{% extends "base.html" %}
{% block title %}GA Report{% endblock %}

{% block content %}
<div class="container">
    <h1>GA Report</h1>
    <!-- total users, new users -->
    <iframe width="132" height="82" seamless frameborder="0" scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=1131599790&amp;format=interactive"></iframe>
    <iframe width="132" height="82" seamless frameborder="0" scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=1013879774&amp;format=interactive"></iframe>

</div>

<div class="w3-row">
    <!-- users(30 days), new users(30 days), sessions (user type) -->
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=1503542658&amp;format=interactive"></iframe>
    </div>
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=1570540164&amp;format=interactive"></iframe>

    </div>
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=640820572&amp;format=interactive"></iframe>
    </div>
</div>

<div class="w3-row">
    <!-- page visits, traffic(all users), traffic(new users)  -->
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=574415051&amp;format=interactive"></iframe>
    </div>
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=1180791565&amp;format=interactive"></iframe>
    </div>
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=73459357&amp;format=interactive"></iframe>
    </div>

</div>

<div class="w3-row">
    <!-- devices, country -->
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=383702211&amp;format=interactive"></iframe>
    </div>
    <div class="w3-third">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQfWs6nopulqx3xvp6T3H6wxgxzuIMXGju13lpJHXMT358A-qE0fEC4wkt6E_Ij_Z5aS-ccqwgPHfEA/pubchart?oid=1578103227&amp;format=interactive"></iframe>
    </div>
</div>


{% endblock %}